.page{
padding:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
}

.field{
display:flex;
flex-direction:column;
}

label{
font-size:13px;
margin-bottom:4px;
}

input,select{
padding:6px;
border:1px solid #ccc;
border-radius:4px;
}

.btn-save{
margin-top:20px;
padding:10px;
background:#2563eb;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.legende{
margin-top:20px
}

.yellow{
background:orange;
display:inline-block;
width:15px;
height:15px;
margin-right:5px;
}

.green{
background:green;
display:inline-block;
width:15px;
height:15px;
margin-right:5px;
}

.red{
background:red;
display:inline-block;
width:15px;
height:15px;
margin-right:5px;
}

.table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

.table th,
.table td{
border:1px solid #ddd;
padding:8px;
text-align:center;
}

.table th{
background:#2563eb;
color:white;
}

/* onglets */
.tabs{
  display:flex;
  background:#d9e1ea;
  border-bottom:2px solid #2b4e7c;
}

.tab{
  padding:8px 15px;
  text-decoration:none;
  font-size:13px;
  color:#2b4e7c;
  background:#e9edf3;
  border-right:1px solid #cfd6df;
}

.tab:hover{
  background:#ffffff;
}

.tab.active{
  background:white;
  font-weight:bold;
}

.form-actions{
  margin-top:15px;
}

.form-actions button{
  padding:6px 12px;
  background:#2b4e7c;
  color:white;
  border:none;
  cursor:pointer;
}

.delete-btn{
  background:#e74c3c;
  border:none;
  color:white;
  padding:4px 8px;
  cursor:pointer;
}
