.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #87CEFA; /* bleu clair */
  padding: 10px 20px;
}

.main-header {
  background: #2563eb;
  color: white;

  height: 40vh; /* 🔥 40% de la hauteur écran */

  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* mieux pour grand header */
  box-sizing: border-box;
}

.main-menu {
  display: flex;
  gap: 15px;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* LEFT */
.header-left {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: #e0f0ff;
}

.nav-btn.active {
  background-color: #007bff;
  color: white;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-text {
  margin: 0;
  font-size: 14px;
}

.logout-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #cc0000;
}
