.header {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* LEFT */
.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* NOTIF */
.notif {
  position: relative;
}

.notif button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
}

.notif-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.notif-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}

/* USER */
.user-menu {
  position: relative;
}

.user-btn {
  background: rgba(255,255,255,0.08);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: #1e293b;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
}

.user-dropdown p {
  padding: 8px;
  cursor: pointer;
}

.user-dropdown p:hover {
  background: rgba(255,255,255,0.1);
}

/* LOGOUT */
.logout-btn {
  background: rgba(239,68,68,0.15);
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background: rgba(239,68,68,0.3);
}

.search {
  margin-left: 20px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  outline: none;
  width: 200px;
  transition: 0.2s;
}

.search::placeholder {
  color: #94a3b8;
}

.search:focus {
  background: rgba(255,255,255,0.12);
}
