.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  color: #fff;
  align-items: center;
  overflow: hidden;
}

.wrapper a {
  color: #fff !important;
}

.wrapper button {
  color: #fff !important;
}

/* form box */
.wrapper .form-box {
  width: 100%;
  padding: 40px;
  background: transparent !important;
}

.wrapper .form-box.login {

  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {

  transition: none;
  transform: translateX(-400px);
}

.wrapper.active .form-box.register {

  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .form-box.register {

  position: absolute;
  transform: translateX(400px);
  transition: none;
}

form h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {

  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

/* input */
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent !important;
  outline: none;
  border: 2px solid rgba(255, 255, 255,.1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff; 
  padding: 20px 45px 20px 20px;
}

/* placeholder */
.input-box input::placeholder {
  color: #fff;
}

/* icon */
.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

/* options */
form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 10px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* button */
form button {
  width: 50%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  display: block;        /* 🔥 important */
  margin: 20px auto;     /* 🔥 centre horizontalement */
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ),
  url('../Components/img44.png') no-repeat;

  background-size: cover;
  background-position: center;
}
